[Unit]
Description=Unifi Controller (created by John Call)
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/podman start -a unifi
ExecStop=/usr/bin/podman exec unifi /shutdown-unifi.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
